   h1 {
         color: #cc0000;
         font-size: 3em;
         font-family: Arial;
      }
            
    p {
        font-family: Arial;
        color: #0000CC;
        font-size: .85em;
      }
        